// Navigation code here

nav{
    .flex(column);
    .flex-center;
    position: fixed; 
    top: 0;
    width: 100%;
    height: auto;
    background-color:@nav-bg;
    padding-top: 1.5rem;
    border-bottom: 2px solid @nav-border;

    h2{
        @media @phone {
            font-size: 4rem;
          }
    }
    .menu-buttons{
        .flex(row);
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        a {
            margin-left: 1.8rem;
            text-decoration: none;
            color: black;

            @media @phone {
                margin-left: 3rem;
              }
        }
        
        a:first-child {
            margin-left: 0;
        }
    }

}